{%- render 'section-spacing-collapsing' -%}

<style>
  #shopify-section-{{ section.id }} {
    --product-grid: auto / minmax(0, 1fr);
    --product-gallery-media-list-grid: auto / auto-flow {% if section.settings.mobile_carousel_control == 'free_scroll' %}{% if section.settings.mobile_media_size == 'expanded' %}84vw{% else %}73vw{% endif %}{% else %}100%{% endif %};
    --product-gallery-media-list-gap: {% if section.settings.mobile_media_size == 'expanded' %}var(--spacing-0-5){% else %}var(--grid-gutter){% endif %};
  }

  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} {
      --section-spacing-block-start: {% if section.settings.mobile_media_size == 'expanded' %}0px{% else %}var(--container-gutter){% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- assign media_ratio = section.settings.desktop_media_width | divided_by: 50.0 -%}
      --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
      --product-gallery-media-list-grid: {% if section.settings.desktop_media_layout contains 'grid' %}auto-flow dense / repeat(2, minmax(0, 1fr)){% else %}auto / auto-flow 100%{% endif %};
      --product-gallery-media-list-gap: calc(var(--grid-gutter) / 2);
    }

    {%- if section.settings.desktop_media_layout == 'grid_highlight' -%}
      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) {
        grid-column: span 2;
      }

      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) ~ *:not(.product-gallery__media--expand) {
        grid-column: span 1;
      }
    {%- endif -%}
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} {
      --product-gallery-media-list-gap: var(--grid-gutter);
    }
  }
</style>

<div {% render 'section-properties', tight: true %}>
  <div class="product">
    {%- if product.media.size > 0 -%}
      {%- render 'product-gallery', product: product -%}
    {%- endif -%}

    {%- render 'product-info', product: product, update_url: true -%}
  </div>
</div>

{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- if section.settings.show_fixed_add_to_cart and product.available and buy_buttons_block != blank -%}
  {%- capture product_form_id -%}product-form-{{ product.id }}-{{ section.id }}{%- endcapture -%}

  <product-quick-add form="{{ product_form_id }}" class="product-quick-add">
    {%- assign button_label = 'product.general.add_to_cart_button' | t -%}

    <buy-buttons template="{{ product.template_suffix }}" form="{{ product_form_id }}" force-secondary-button class="sm:hidden">
      {%- render 'button', type: 'submit', content: button_label, form: product_form_id, background: buy_buttons_block.settings.atc_button_background, text_color: buy_buttons_block.settings.atc_button_text_color, secondary: true, stretch: true, size: 'lg' -%}
    </buy-buttons>

    {%- assign image = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

    <div class="product-quick-add__variant {% if image == blank %}no-image{% endif %} hidden sm:grid">
      {%- if image != blank -%}
        <variant-media widths="80,160" form="{{ product_form_id }}">
          {{- image | image_url: width: image.width | image_tag: loading: 'lazy', sizes: '80px', widths: '80,160', class: 'rounded-xs' -}}
        </variant-media>
      {%- endif -%}

      <div class="v-stack gap-0.5">
        {%- assign vendor_block = section.blocks | where: 'type', 'vendor' -%}

        {%- if vendor_block != blank -%}
          {%- render 'vendor' with product.vendor, class: 'text-xs' -%}
        {%- endif -%}

        <a href="{{ product.url }}" class="bold truncate-text">{{ product.title }}</a>
        {%- render 'price-list', product: product, variant: product.selected_or_first_available_variant, form_id: product_form_id -%}
      </div>

      <buy-buttons template="{{ product.template_suffix }}" form="{{ product_form_id }}" force-secondary-button>
        {%- render 'button', type: 'submit', content: button_label, form: product_form_id, background: buy_buttons_block.settings.atc_button_background, text_color: buy_buttons_block.settings.atc_button_text_color, secondary: true -%}
      </buy-buttons>
    </div>
  </product-quick-add>
{%- endif -%}

<template id="quick-buy-content">
  {%- capture product_form_id -%}quick-buy-form-{{ product.id }}-{{ section.id }}{%- endcapture -%}

  <div class="quick-buy-drawer__variant text-start h-stack gap-6" slot="header">
    {%- assign image = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

    {%- if image != blank -%}
      <variant-media widths="80,160" form="{{ product_form_id }}">
        {{- image | image_url: width: image.width | image_tag: loading: 'lazy', sizes: '80px', widths: '80,160', class: 'quick-buy-drawer__media rounded-xs' -}}
      </variant-media>
    {%- endif -%}

    <div class="v-stack gap-0.5">
      <a href="{{ product.url }}" class="bold justify-self-start">{{ product.title }}</a>
      {%- render 'price-list', product: product, variant: product.selected_or_first_available_variant, form_id: product_form_id -%}
    </div>
  </div>

  <div class="quick-buy-drawer__info">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {%- render block -%}

        {%- when 'variant_picker' -%}
          {%- render 'variant-picker', product: product, form_id: product_form_id, update_url: false, hide_sold_out_variants: false, hide_size_chart: true, force_dropdown_as_block: true, block: block -%}

        {%- when 'buy_buttons' -%}
          {%- render 'buy-buttons', product: product, form_id: product_form_id, show_payment_button: block.settings.show_payment_button, button_size: 'lg' -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</template>
